.content {
    min-height: calc(100vh - (80px + 89px + 55px));
}

.breadcrumb a.active {
    color: #a2a2a2;
}

.text-primary {
    color: #03a9f3 !important;
}

.form-check-input {
    margin-left: 3px;
}

label.required:after {
    color: red;
    content: ' *';
    display: inline;
}