.content {
    min-height: calc(100vh - (80px + 89px + 55px));
}

.breadcrumb a.active {
    color: #a2a2a2;
}

.text-primary {
    color: #03a9f3 !important;
}

.form-check-input {
    margin-left: 3px;
}

label.required:after {
    color: red;
    content: ' *';
    display: inline;
}

select option:first-child {
    color: rgba(0, 0, 0, 0.5); /* Color con opacidad */
}

.photo {
    width: 100%;
    height: auto;
    min-height: 400px;
    background: #f3f3f3;
    display: block;
}

.modal-header {
    display: flex !important;
}