{% extends 'AppBundle::app-container.html.twig' %}

{% block view %}

    {%
        set fields = [
        {'label': 'Nombre', 'name': 'nombre'},
        {'label': 'Descripción', 'name': 'descripcion'},
        {'label': 'Activo', 'name': 'activo', 'type': 'boolean'}
    ]
    %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <strong>Detalles de categoría</strong>
                </div>
                <div class="card-body card-block">

                    {% include 'AppBundle::components/details.html.twig' with {'fields': fields, 'data': categoria, 'size': 'col-3'}%}

                    <div class="pull-right">
                        <a href="{{ path('categoria_index') }}" class="btn btn-primary btn-sm">Atrás</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
