<footer class="site-footer">
    <div class="footer-inner bg-white">
        <div class="d-flex justify-content-center">
            <div>
                Almacén de productos
            </div>
        </div>
    </div>
</footer>